html, body {
    display: flex;
    justify-content: center;
    background-color: hsl(30, 18%, 87%); 
}

.card {
    background-color: hsl(0, 0%, 100%) ;
    border-radius: 24px;
    padding: 40px;
    margin: 48px 0 48px 0;
    display: flex;
    box-sizing: border-box;
    max-width: 52%;
    flex-direction: column;
}

img {
}

h1, h2 {
    font-family: 'Young Serif', sans-serif;
}
h1 {
    font-weight: 400;
    margin-bottom: 0px;
}

p, h3, li, th, td {
    font-family: 'Outfit', sans-serif;
    line-height: 150%;
    font-size: 16px;
}

p, li {
    font-weight: 400;
    color: hsl(30, 10%, 34%);
}

p {
    font-size: 16px;
}

h3 {
    color: hsl(332, 51%, 32%);
    margin: 0px;
}

.list-container {
    background-color: hsl(323, 100%, 98%);
    padding: 24px;
    border-radius: 20px;
}

ul, ol {
    padding-left: 24px;
}

ul li::marker {
    color: hsl(332, 51%, 32%);
    font-size: 12px;
  }

li {
    padding-bottom: 10px;
    padding-left: 14px;
    color: hsl(30, 10%, 34%)
}

li:last-child {
    padding-bottom: 0px;
}

h2 {
    color: hsl(14, 45%, 36%);
    letter-spacing: 1px;
}

hr {
    border: none;
    height: 1px;
    background-color: hsl(0, 0%, 88%);
    margin: 20px 0;
}

ol li::marker {
    font-weight: 700;
    color: hsl(14, 45%, 36%);
}

table {
    border-collapse: collapse;
}

th, td {
    border-bottom: 1px solid hsl(0, 0%, 88%);
    padding: 14px 0 14px 0;
    text-align: left;
    width: 50%;
}

th {
    font-weight: 400;
    color: hsl(30, 10%, 34%);
    padding-left: 30px;
}

td {
    font-weight: 600;
    color: hsl(14, 45%, 36%);
}

tr:last-child {
    border-bottom: 0;
}