html, body {
    width: 100vw;
    display: flex;
    background-color: hsl(30, 54%, 90%); 
    margin: 0;
    flex-direction: column;
    align-items: center;
}

.card {
    background-color: hsl(0, 0%, 100%) ;
    border-radius: 24px;
    padding: 40px;
    margin: 48px 0 48px 0;
    display: flex;
    box-sizing: border-box;
    max-width: 800px;
    flex-direction: column;
    width: 100%;
}

h1, h2 {
    font-family: 'Young Serif', sans-serif;
}
h1 {
    font-weight: 400;
    margin-top: 30px;
    margin-bottom: 20px;
    line-height: 110%;
}

p, h3, li, th, td {
    font-family: 'Outfit', sans-serif;
    line-height: 150%;
    font-size: 16px;
}

p, li {
    font-weight: 400;
    color: hsl(30, 10%, 34%);
}

p {
    font-size: 16px;
    margin-top: 0px;
}

.para-1 {
    margin-bottom: 24px;
}

.para-2 {
    margin-bottom: 12px;
}

h3 {
    color: hsl(332, 51%, 32%);
    margin: 0px;
    font-size: 18px;
    margin-bottom: 12px;
}

.list-container {
    background-color: hsl(323, 100%, 98%);
    padding: 24px;
    border-radius: 20px;
    margin-bottom: 30px;
}

ul, ol {
    padding-left: 20px;
    margin-top: 0px;
    margin-bottom: 4px;
}

ul li::marker {
    color: hsl(332, 51%, 32%);
    font-size: 12px;
  }

li {
    padding-bottom: 10px;
    padding-left: 14px;
    color: hsl(30, 10%, 34%)
}

li:last-child {
    padding-bottom: 0px;
}

h2 {
    color: hsl(14, 45%, 36%);
    letter-spacing: 1px;
    margin-top: 0px;
}

hr {
    border: none;
    height: 1px;
    background-color: hsl(0, 0%, 88%);
    margin: 30px 0;
}

ol li::marker {
    font-weight: 700;
    color: hsl(14, 45%, 36%);
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border-bottom: 1px solid hsl(0, 0%, 88%);
    padding: 10px 0 10px 0;
    text-align: left;
    width: 50%;
}

th {
    font-weight: 400;
    color: hsl(30, 10%, 34%);
    padding-left: 30px;
}

td {
    font-weight: 700;
    color: hsl(14, 45%, 36%);
}

.th-last, .td-last {
    border-bottom: 0px;
}

/* For small screens */
@media (min-width: 200px) {
    h1 {
        font-size: 34px;
    }
    
    .card {
        margin: 0px;
        padding: 0px;
    }

    .card-inf {
        padding: 0 24px 0 24px;
    }

    img {
        border-radius: 0px;
    }
}

/* For medium screens */
@media (min-width: 600px) {
    h1 {
        font-size: 40px;
    }
    .card {
        margin: 24px;
        padding: 40px;
    }

    .card-inf {
        padding: 0px;
    }

    img {
        border-radius: 12px;
    }

}

/* For large screens */
@media (min-width: 1024px) {
    .card {
        margin: 96px;
        padding: 40px;
    }

    .card-inf {
        padding: 0px;
    }

    img {
        border-radius: 20px;
    }
}